<div class="pageContainer">

  <%- include("partials/header") -%>

  <!-- Section header -->
  <h1>Home</h1>
  <p><%= homePageContent%></p>

  <!-- Visualize running list of posts -->
  <% postLog.forEach(function(post){%>
  <h1><%=post.title%></h1>

  <%let fullContent = post.content;%>
  <%let postPreview = fullContent.substring(0, 140) + ". . .";%>

  <p>
    <%=postPreview%>
    <a href="/posts/<%=post._id%>">Read more</a>
  </p>
  <%});%>

  <%- include("partials/footer") -%>

</div>
