<div class="pageContainer">
  <%- include("partials/header")-%>
  <h1><%=title%></h1>
  <p><%=content%></p>

  <form class="deleteForm" action="/delete" method="post">
    <input class="checkBox" type="checkbox" onChange="this.form.submit()" value="<%= id%>" name="checkBox">
  <label class ="checkBoxText" for="checkBox">Delete post</label>
  </form>
  <%- include("partials/footer") -%>
</div>
